
<div>
    <button type="button" (click)="forNewUser()">CREATE NEW USER</button>
</div>
<form class="form-group">
    <div class="card">                  
        <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as Id">
                <td>{{user.name}}</td>  
                <td>{{user.userType}}</td>          
            </tr> 
              
        </tbody> 
    </table> 
    </div>
    </form>
    