<div>
    <button type="button" (click)="forNewTest()">CREATE NEW TEST</button>
</div>
<form class="form-group">
 <div class="card">                  
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>No. Of Participants</th>
            <th>Test Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let test of tests; index as testId" (click)="forTestDetails(test)">
            <td>{{test.date}}</td>  
            <td></td>
            <td>
                <a [routerLink]='["/athlete-details/",test.id]'>{{test.testType}}</a>
            </td>          
        </tr> 
    </tbody> 
    </table> 
 </div>
</form>