<h2>{{test?.testType}} {{test?.date}}</h2> 
<div class="card">                  
    <table class="table">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Distance<br> (meters)</th>
            <th>Fitness Rating</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let items of athleteMap; index as id">
                    <td>
                            <a [routerLink]='["/edit-athlete/"]'>{{items.Name}}</a>
                    </td>
                    <td>
                            <a [routerLink]='["/edit-athlete/"]'>{{items.CTDistance}}</a>
                    </td>
                    <td>
                            <a [routerLink]='["/edit-athlete/",items.id]'>{{items.fitnessRating}}</a>
                    </td>
            </tr>
    </tbody> 
    </table> 
</div>
<div>
    <button type="button" (click)="forNewAthlete()">ADD NEW ATHLETE TO TEST</button>
</div>
<div class="button2">
    <button type="button">
        <a [routerLink] = '["/test-details-list"]'>DELETE TEST</a>
    </button>
</div>