<h2>Test Name   Date</h2>
<div class="card">                  
    <table class="table">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Distance<br> (meters)</th>
            <th>Fitness Rating</th>
        </tr>
    </thead>
        <tbody>
           <!--  <tr *ngFor='let nameId of Name'>    
                <td></td>
            </tr> -->
    </tbody> 
    </table> 
</div>
<div>
    <button type="button" (click)="forNewAthlete()">ADD NEW ATHLETE TO TEST</button>
</div>
<div class="button2">
    <button type="button">DELETE TEST</button>
</div>