<h2>{{test?.testType}} {{test?.date}}</h2> 

<div *ngIf = "test?.testType==='100m Sprint Test', then STTime else CTDistance"></div>

<ng-template #CTDistance>                
    <table class="table">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Distance<br> (meters)</th>
            <th>Fitness Rating</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let items of test; index as users">
                    <td>
                            <a [routerLink]='["/edit-athlete/", currentTestId , items.userId]'>{{items.users.name}}</a>
                    </td>
                    <td>
                            <a [routerLink]='["/edit-athlete/", currentTestId , items.userId]'>{{items.ctDistance}}</a>
                    </td>
                    <td>
                            <a [routerLink]='["/edit-athlete/", currentTestId , items.userId]'>{{items.fitnessRating}}</a>
                    </td>
            </tr>
    </tbody> 
    </table> 
</ng-template>

<ng-template #STTime>                 
    <table class="table">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Time Taken</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let items of test">
                    <td>
                            <a [routerLink]='["/edit-athlete/", currentTestId , items.id]'>{{items.users.name}}</a>
                    </td>
                    <td>
                            <a [routerLink]='["/edit-athlete/", currentTestId , items.id]'>{{items.stTime}}</a>
                    </td>
            </tr>
    </tbody> 
    </table> 
</ng-template>


<div>
    <button type="button" (click)="forNewAthlete()">ADD NEW ATHLETE TO TEST</button>
</div>

<div class="button2">
    <button type="button" (click)= "toDeleteTest()" >DELETE TEST</button>
</div>