<h3>ADD NEW ATHLETE TO TEST</h3>
<div *ngIf="isAvailable">
    <form>
        <label>Name</label>
        <br>
        <select type="input" name="AName" [(ngModel)]= athletes.AName class="form-control">
            <option *ngFor="let user of users">{{user.name}}</option>
        </select>
        <br>

        <label>Distance (meter)</label>
        <br>
        <input type="distance" name="CTDistance" [(ngModel)]=athletes.CTDistance class="form-control" placeholder="0">
    </form>
    <div class="form-group">
        <button type="button" (click)="onSubmit()">SAVE</button>
    </div>
</div>